@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0 auto;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0;
    background-color: #ef4136;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.header-background {
    background-color: rgba(255, 255, 255, 0.7);
    height: 9em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.billboard {
    height: 40em;
}

.nav {
    list-style-type: none;
    text-align: right;
    position: absolute;
    right: 0em;
    top: 0em;
    margin-top: 1.5em;
    margin-right: 1.75em;
}

.nav li {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 2.5em;
    margin: 0 auto;
    font-size: .6em;
}

.nav a,
.nav a:link,
.nav a:visited {
  color: black;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {

  color: white;
} 


.homepage-billboard {
    position: absolute;
    background-image: url("../images/ocean-photo-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

/*.layer-billboard {
    background-color: rgba(120, 115, 154, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

.logo {
    width: 15%;
    position: relative;
    display: block;
    margin: auto;
    padding-top: 55em;
    -webkit-transform: translateY(-50%);
    -moz-transform:translateY(-50%);
    transform: translateY(-50%);
}

h1 {
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: .2em;
}

h2 {
    margin: 0;
    padding-top: 1.5em;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: .2em;
    color: white;
    clear: both;
}

.about-h2 {
    color: #005a5a;
    font-family: 'Lato', sans-serif;
    font-size: 2.25em;
    text-transform: uppercase;
    text-align: center;
}

.about {
    padding-top: 10em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: 5em;
}

.p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-bottom: 2em;
}

.piece {
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.6;
}

.piece:hover {
    opacity: 1;
}

.piecepages {
    width: 100%;
    margin: 0;
    padding: 0;
}

.greenbox {
        background-color: #005a5a;
        height: 10em;
        width: 100%;
        display: inline-block;
        float: left;
        position: static;
}

.item {
    padding: 45px;
    margin: 0;
    transition: all .1s ease;
    transition-property: transform;
}

hr {
    height: 1px;
    width: 20%;
    border: 0;
    padding: 0;
}

.item img {
    display: block;
}

.item img:hover,
.item img:focus,
.item img:active {
    cursor: pointer;
}

.item h3,
.item p {
    padding: 0;
    color: blue;
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.footer-background {
    text-align: center;
    background-color: #005a5a;
    overflow: hidden;
    clear: both;
    left: 0;
    width: 100%;
    padding: 0;
}

.socialmedialogo { 
    width: 10%;
    text-align: center;
    margin-top: 2em;
    margin: 2em;
}

a {
    text-decoration: none;
    padding-bottom: 0;
    margin: 0;
    padding: 0;
}  

.email {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.background404 {
    padding-top: 10rem;
    font-family: 'Lato', sans-serif;
    font-size: 30em;
    text-align: center;
    color: white;
    opacity: .2;
    background-color: #005a5a;
    min-height: 100vh;
}

.info {
    padding: 5em;
    overflow: hidden;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: white;
    background-color: #005a5a;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    padding-top: 1.5em;
    font-size: 6em;
}

@media only screen and (min-width: 10em) /* LANDSCAPE - MOBILE */ {
    
    .about-h2 {
        line-height: 1.4em;
    }
    
    .about {
    padding-top: 7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: 5em;
    }

}

@media only screen and (min-width: 48em) /* TABLET */ {
    
    .homepage-billboard {
        height: 45em;
    }
    
    .name {
        width: 50%;
    }
    
    .about {
        margin-left: 5em;
        margin-right: 5em;
    }
    
    .piece {
        width: 50.0000%;
        display: inline-block;
        float: left;
    }

    .piecepages {
        width: 33.3333%;
        display: inline-block;
        float: left;
    }

    .description {
        padding-right: 10em;
        padding-left: 10em;
    }

}


@media only screen and (min-width: 72em) /* DESKTOP */ {
    
    .header-background {
        max-height: 15em;
    } 
    
    .homepage-billboard {
        height: 100vh;
    }
    
    .nav {
        display: flex;
        padding-top: 1.75em;
        text-align: center;
    }
    
    .nav li {
        font-size: .7em;
        padding-left: 3em;
    }
    
    .piece {
        width: 33.3333%;
        display: inline-block;
        float: left;
    }

    .piecepages {
        width: 33.3333%;
        display: inline-block;
        float: left;
    }
    
    .about {
        margin-left: 20em;
        margin-right: 20em;
    }
    
    
    .socialmedialogo { 
        width: 5%;
        text-align: center;
        margin-top: 2em;
        margin: 2em;
    }

    .description {
        padding-right: 20em;
        padding-left: 20em;
    }
    
    .darnparagraph {
        padding-right: 10em;
        padding-left: 10em;
    }
}
