<!DOCTYPE html>
<html lang="en-ca">
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>KatieDesign</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
    
<body>
<main id="main">
    
    <ul class="skip-links">
        <li><a href="{{site.baseurl}}/#main">Jump to Main Content</a></li>
        <li><a href="{{site.baseurl}}/#contentinfo">Jump to Footer</a></li>
    </ul>
    
    <div>
        <nav id="nav">
            <ul class="nav">
                <li><a href="{{site.baseurl}}/#about">About</a></li>
                <li><a href="{{site.baseurl}}/#portfolio">Portfolio</a></li>
                <li><a href="{{site.basurl}}/#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="header-background"></div>
    
    {{content}} 
    
</main>
    
<footer class="footer-background">
       
    <a id="contact">
        <div>
            <h2>Contact</h2>
                <a href="mailto:katie.mcpeak@hotmail.com?Subject=Hello!" target="_top" class="email fade">katie@katiemcpeak.ca</a>
        </div>
    </a>

    
        <a href="https://www.behance.net/katiemcpeak">
            <img class="socialmedialogo fade" src="{{site.baseurl}}/images/behancelogo.svg" alt="behance">
        </a> 
    
        <a href="https://github.com/katiemcpeak">
            <img class="socialmedialogo fade" src="{{site.baseurl}}/images/githublogo.svg" alt="github"> 
        </a>
        
</footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>
